figure:after {
  display: block;
  height: 0; }

a {
  text-decoration: none; }

::-webkit-input-placeholder {
  color: #60015B;
  opacity: 0.7; }

:-moz-placeholder {
  color: #60015B;
  opacity: 0.7; }

::-moz-placeholder {
  color: #60015B;
  opacity: 0.7; }

:-ms-input-placeholder {
  color: #60015B;
  opacity: 0.7; }

figure {
  margin: 0px; }

body {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif; }

.conteudo {
  margin: 78px 0px 0px 0px; }

.logo {
  background-image: url(../img/logo.png);
  color: transparent;
  background-repeat: no-repeat;
  width: 181px;
  height: 54px; }

.header {
  padding: 10px 20px 10px 20px;
  background: #fff;
  position: fixed;
  z-index: 9999;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #bdbdbd; }

.header > div {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1140px; }

.menu {
  display: flex;
  justify-content: center;
  align-items: center; }
  .menu ul {
    display: flex; }
    .menu ul li {
      list-style: none; }
      .menu ul li a {
        text-decoration: none;
        padding: 5px 5px;
        color: #666;
        transition: 0.3s;
        margin: 0px 10px; }
      .menu ul li a:hover {
        color: #60015B;
        border-bottom: 1px solid #60015B; }

.menu-mobile {
  display: none; }

.icon-menu-mobile {
  display: none; }

.link-select {
  color: #60015B !important;
  border-bottom: 1px solid #60015B; }

.buscar-menu {
  color: #60015B !important; }

.buscar-menu:hover {
  border-bottom: 1px solid #60015B; }

.idioma {
  display: flex;
  justify-content: center;
  align-items: center; }
  .idioma ul {
    display: flex; }
    .idioma ul li {
      list-style: none;
      margin: 0px 0px 0px 3px; }
      .idioma ul li a {
        color: #60015B;
        padding: 5px 10px;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        display: flex; }
      .idioma ul li a:hover {
        background: #e3e3e3;
        color: #666 !important;
        border-radius: 5px; }

.idioma-selecionado {
  background: #e3e3e3;
  color: #666 !important;
  border-radius: 5px; }

.banner {
  width: 100%;
  height: 600px;
  background: url(../img/banner.jpg);
  background-position: center;
  border-bottom: 4px solid #60015B; }

.principal-home {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding: 20px 0px;
  flex-direction: column; }

.principal-home h2 {
  font-weight: 200;
  text-align: center;
  color: #4f4f4f;
  margin: 5px 0px 5px 0px;
  font-size: 42pt; }
  .principal-home h2 span {
    font-weight: 400; }

.conteudo-home {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .conteudo-home ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
    padding: 0px; }
    .conteudo-home ul li {
      list-style: none;
      display: block;
      width: 33.33%;
      position: relative;
      box-sizing: border-box;
      border: 20px solid transparent; }
      .conteudo-home ul li figure figcaption .img-m-maestra {
        background-image: url(../img/m-maestra.png);
        color: transparent;
        width: 200px;
        background-repeat: no-repeat;
        height: 45px;
        margin: 0px; }
      .conteudo-home ul li figure figcaption .img-m-office {
        background-image: url(../img/m-maestra.png);
        color: transparent;
        width: 200px;
        background-repeat: no-repeat;
        height: 45px;
        margin: 0px; }
      .conteudo-home ul li figure figcaption .img-m-certificata {
        background-image: url(../img/m-maestra.png);
        color: transparent;
        width: 200px;
        background-repeat: no-repeat;
        height: 45px;
        margin: 0px; }
      .conteudo-home ul li figure figcaption .img-m-partiz {
        background-image: url(../img/m-maestra.png);
        color: transparent;
        width: 200px;
        background-repeat: no-repeat;
        height: 45px;
        margin: 0px; }
      .conteudo-home ul li figure figcaption .img-m-didacta {
        background-image: url(../img/m-maestra.png);
        color: transparent;
        width: 200px;
        background-repeat: no-repeat;
        height: 45px;
        margin: 0px; }
      .conteudo-home ul li figure figcaption .img-m-commerce {
        background-image: url(../img/m-maestra.png);
        color: transparent;
        width: 200px;
        background-repeat: no-repeat;
        height: 45px;
        margin: 0px; }
      .conteudo-home ul li .img-linhas-home {
        width: 100%;
        max-width: 100%;
        display: block; }
      .conteudo-home ul li .info-conteudo-home {
        margin: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        position: relative; }
        .conteudo-home ul li .info-conteudo-home a {
          color: #fff;
          border-bottom: 1px solid #fff;
          padding: 0px 7px;
          margin: 7px 0px 0px 0px; }
        .conteudo-home ul li .info-conteudo-home .close-link-home {
          color: #fff;
          border-bottom: 1px solid #fff;
          padding: 0px 7px;
          margin: 7px 0px 0px 0px; }
    .conteudo-home ul li:hover figure > div {
      opacity: 0; }
    .conteudo-home ul li:hover figure figcaption {
      margin: -26px 0px 0px 0px; }
      .conteudo-home ul li:hover figure figcaption .close-link-home {
        display: block; }

.m-maestra {
  background: #774b28; }

.m-office {
  background: #183a68; }

.m-certificata {
  background: #75ab7e; }

.m-partiz {
  background: #878787; }

.m-didacta {
  background: #fbbd51; }

.m-commerce {
  background: #cd6351; }

.open-img-home {
  margin: -26px 0px 0px 0px !important;
  position: relative; }

.close-link-home {
  display: none; }

.mais-home {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0; }

.vitrine-home {
  width: 100%;
  height: 100%;
  position: absolute; }

.vitrine-maestra {
  background: rgba(119, 75, 40, 0.8); }

.vitrine-office {
  background: rgba(24, 58, 104, 0.8); }

.vitrine-certificata {
  background: rgba(117, 171, 126, 0.8); }

.vitrine-partiz {
  background: rgba(135, 135, 135, 0.8); }

.vitrine-didacta {
  background: rgba(251, 189, 81, 0.8); }

.vitrine-commerce {
  background: rgba(205, 99, 81, 0.8); }

.link-vitrine {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0; }
  .link-vitrine span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0; }

.banner-produtos {
  width: 100%;
  height: 300px;
  background: url(../img/banner.jpg);
  background-position: center;
  border-bottom: 4px solid #60015B; }

.principal-produtos {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding: 20px 0px;
  flex-direction: column; }

.principal-produtos h2 {
  font-weight: 200;
  font-size: -webkit-xxx-large;
  color: #4f4f4f;
  margin: 0px 0px 15px 20px; }
  .principal-produtos h2 span {
    font-weight: 400; }

.principal-produtos > p {
  margin: 0px 0px 25px 20px;
  width: 70%;
  color: #58585a; }

.conteudo-produtos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .conteudo-produtos ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
    padding: 0px; }
    .conteudo-produtos ul li {
      list-style: none;
      display: block;
      width: 33.33%;
      position: relative;
      box-sizing: border-box;
      border: 25px solid transparent; }
      .conteudo-produtos ul li .img-linhas-home {
        width: 100%;
        max-width: 100%;
        display: block; }
      .conteudo-produtos ul li .info-conteudo-home {
        margin: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        position: relative; }
        .conteudo-produtos ul li .info-conteudo-home a {
          color: #fff;
          border-bottom: 1px solid #fff;
          padding: 0px 7px;
          margin: 7px 0px 0px 0px; }
        .conteudo-produtos ul li .info-conteudo-home p {
          padding: 10px 15px;
          color: #fff;
          font-size: 18pt;
          text-align: center;
          margin: 0px; }

.banner-sobre {
  width: 100%;
  height: 120px;
  background: url(../img/bg_motiva.png);
  background-position: center;
  border-bottom: 4px solid #60015B;
  background-color: #702470;
  display: flex;
  justify-content: center; }
  .banner-sobre > div {
    width: 1140px;
    padding: 0px 20px; }
    .banner-sobre > div h2 {
      color: #fff;
      font-weight: 200;
      margin: 35px 0px 10px 0px; }
      .banner-sobre > div h2 span {
        font-weight: 400; }
    .banner-sobre > div p {
      font-size: 16pt;
      font-weight: 200;
      color: #fff;
      margin: 0px; }
      .banner-sobre > div p a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #fff; }
    .banner-sobre > div > div {
      display: flex;
      justify-content: space-between; }

.txt-sobre {
  background-color: #efefef; }

.principal-sobre {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 50px 0px;
  max-height: 460px; }

.slide-sobre, .txt-sobre {
  width: 50%; }

.slide-sobre img {
  height: 100%;
  border-bottom: 3px solid #60015B;
  width: 100%;
  box-sizing: border-box; }

.txt-sobre article {
  width: 60%;
  margin: 40px 0px 0px 50px; }
  .txt-sobre article h2 {
    color: #60015B;
    font-weight: 400;
    font-size: 16pt;
    margin: 0px 0px 30px 0px; }
  .txt-sobre article p {
    color: #666;
    font-weight: 200;
    line-height: 23px; }
  .txt-sobre article ul {
    padding: 0px;
    margin: 44px 0px 0px 0px; }
    .txt-sobre article ul li {
      color: #60015B;
      font-weight: 400;
      list-style: none;
      font-size: 14pt;
      margin: 10px 0px 0px 0px; }
      .txt-sobre article ul li a {
        color: #60015B;
        font-weight: 300; }

.banner-representantes {
  width: 100%;
  height: 120px;
  background: url(../img/bg_motiva.png);
  background-position: center;
  border-bottom: 4px solid #60015B;
  background-color: #702470;
  display: flex;
  justify-content: center; }
  .banner-representantes > div {
    width: 1140px; }
    .banner-representantes > div h1 {
      color: #fff;
      font-weight: 200;
      margin: 35px 0px 10px 0px; }
      .banner-representantes > div h1 span {
        font-weight: 400; }
    .banner-representantes > div p {
      font-size: 16pt;
      font-weight: 200;
      color: #fff;
      margin: 0px; }
      .banner-representantes > div p span {
        font-weight: 400; }
      .banner-representantes > div p a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #fff; }
    .banner-representantes > div > div {
      display: flex;
      justify-content: space-between; }

.principal-representantes {
  display: flex;
  justify-content: center;
  background-color: #efefef;
  margin: 0px 0px 30px 0px;
  border-bottom: 3px solid #651264;
  padding: 0px 0px 20px 0px; }
  .principal-representantes > div {
    width: 1140px;
    padding: 0px 20px; }
    .principal-representantes > div select {
      padding: 8px 15px;
      width: 270px;
      color: #702470;
      font-weight: 300;
      border-radius: 5px; }
    .principal-representantes > div div > p {
      margin: 0px; }

.txt-estado {
  color: #702470;
  font-size: 18pt;
  font-weight: 200; }

.conteudo-representantes ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 0px 0px; }
  .conteudo-representantes ul li {
    list-style: none;
    color: #666;
    font-size: 11pt;
    width: 33.33%;
    border-top: 50px solid transparent;
    border-right: 50px solid transparent;
    box-sizing: border-box;
    border-bottom: 20px solid transparent; }
    .conteudo-representantes ul li p {
      margin: 5px 0px 0px 0px; }
      .conteudo-representantes ul li p a {
        color: #702470;
        font-weight: 600; }
      .conteudo-representantes ul li p span a {
        color: #666;
        font-weight: 400 !important; }
    .conteudo-representantes ul li .titulo-representantes {
      margin: 0px 0px 20px 0px; }

.txt-contato article h2 {
  color: #60015B !important;
  font-weight: 400 !important;
  font-size: 16pt !important;
  margin: 15px 0px 15px 0px !important; }

.txt-sobre article form {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center; }
  .txt-sobre article form input {
    border: 1px solid #60015B;
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 11pt;
    margin: 10px 0px 0px 0px;
    width: 100%; }
  .txt-sobre article form textarea {
    border: 1px solid #60015B;
    border-radius: 5px;
    padding: 7px 10px;
    width: 100%;
    font-size: 11pt;
    margin: 10px 0px 0px 0px; }
  .txt-sobre article form button {
    background: transparent;
    border: 0px;
    padding: 0px 5px;
    font-size: 10pt;
    border-bottom: 1px solid #60015B;
    margin-top: 10px;
    color: #60015B;
    margin: 10px 0px 0px 150px;
    width: 50px; }

.txt-contato ul {
  padding: 0px;
  margin: 40px 0px 40px 0px !important;
  font-size: 12pt; }
  .txt-contato ul li {
    color: #60015B;
    font-weight: 400;
    list-style: none;
    font-size: 14pt;
    margin: 10px 0px 0px 0px; }

.mapa-contato iframe {
  border-bottom: 3px solid #60015B !important;
  height: 99.5%; }

.vitrine-acabamentos {
  position: absolute;
  width: 100%;
  height: 300px;
  background: rgba(117, 171, 126, 0.54);
  border-bottom: 4px solid #75ab7e; }

.banner-acabamentos {
  width: 100%;
  height: 120px;
  background-position: center;
  display: flex;
  justify-content: center;
  bottom: 0px;
  position: absolute;
  padding: 0px 0px 15px 0px; }
  .banner-acabamentos > div {
    width: 1140px;
    padding: 0px 20px; }
    .banner-acabamentos > div h2 {
      color: #fff;
      font-weight: 200;
      margin: 35px 0px 10px 0px; }
      .banner-acabamentos > div h2 span {
        font-weight: 400; }
    .banner-acabamentos > div p {
      font-size: 16pt;
      font-weight: 200;
      color: #fff;
      margin: 0px; }
      .banner-acabamentos > div p a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #fff; }
    .banner-acabamentos > div > div {
      display: flex;
      justify-content: space-between; }

.lista-opcoes-acabamentos ul {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 30px 0px 20px 0px; }
  .lista-opcoes-acabamentos ul .txt-lista-acabamentos {
    color: #666;
    padding: 0px 21px 0px 0px !important; }
  .lista-opcoes-acabamentos ul li {
    list-style: none;
    color: #75ab7e;
    padding: 0px 21px 0px 0px;
    padding: 5px 10px !important; }
    .lista-opcoes-acabamentos ul li a {
      color: #75ab7e; }

.acabamentos-selecionado {
  color: #fff !important;
  background: #75ab7e;
  padding: 5px 10px;
  border-radius: 5px; }
  .acabamentos-selecionado a {
    color: #fff !important; }

.tipos-acabamentos ul {
  display: flex;
  flex-wrap: wrap; }
  .tipos-acabamentos ul li {
    width: 300px;
    list-style: none;
    background: #ccc;
    margin: 0px 0px 0px 30px; }

.conteudo-acabamentos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 0px 0px 0px; }
  .conteudo-acabamentos article {
    margin: 0px 0px 30px 0px; }
    .conteudo-acabamentos article .img-conteudo-home {
      overflow: hidden; }
      .conteudo-acabamentos article .img-conteudo-home img {
        height: 250px; }
      .conteudo-acabamentos article .img-conteudo-home .vitrine-maestra-conteudo {
        position: absolute;
        width: 380px;
        height: 380px;
        background: rgba(119, 75, 40, 0.8); }
      .conteudo-acabamentos article .img-conteudo-home .vitrine-office-conteudo {
        position: absolute;
        width: 380px;
        height: 380px;
        background: rgba(24, 58, 104, 0.8); }
      .conteudo-acabamentos article .img-conteudo-home .vitrine-certificada-conteudo {
        position: absolute;
        width: 380px;
        height: 380px;
        background: rgba(117, 171, 126, 0.8); }
      .conteudo-acabamentos article .img-conteudo-home .vitrine-partiz-conteudo {
        position: absolute;
        width: 380px;
        height: 380px;
        background: rgba(135, 135, 135, 0.8); }
      .conteudo-acabamentos article .img-conteudo-home .vitrine-didacta-conteudo {
        position: absolute;
        width: 380px;
        height: 380px;
        background: rgba(251, 189, 81, 0.8); }
      .conteudo-acabamentos article .img-conteudo-home .vitrine-commerce-conteudo {
        position: absolute;
        width: 380px;
        height: 380px;
        background: rgba(205, 99, 81, 0.8); }
      .conteudo-acabamentos article .img-conteudo-home .info-conteudo-home {
        margin: -5px 0px 0px 0px; }
        .conteudo-acabamentos article .img-conteudo-home .info-conteudo-home p {
          padding: 10px 15px;
          color: #fff;
          font-size: 12pt;
          text-align: center;
          margin: 0px;
          background: #75ab7e; }
        .conteudo-acabamentos article .img-conteudo-home .info-conteudo-home .m-maestra {
          background: #774b28; }
        .conteudo-acabamentos article .img-conteudo-home .info-conteudo-home .m-office {
          background: #183a68; }
        .conteudo-acabamentos article .img-conteudo-home .info-conteudo-home .m-certificata {
          background: #75ab7e; }
        .conteudo-acabamentos article .img-conteudo-home .info-conteudo-home .m-partiz {
          background: #878787; }
        .conteudo-acabamentos article .img-conteudo-home .info-conteudo-home .m-didacta {
          background: #fbbd51; }
        .conteudo-acabamentos article .img-conteudo-home .info-conteudo-home .m-commerce {
          background: #cd6351; }

.pag-acabamentos ul {
  display: flex;
  justify-content: center; }
  .pag-acabamentos ul li {
    list-style: none;
    padding: 5px;
    background: #fff;
    color: #75ab7e;
    margin: 5px; }
    .pag-acabamentos ul li a {
      color: #75ab7e; }

.pag-selecionado {
  list-style: none;
  padding: 10px;
  background: #75ab7e !important;
  color: #fff !important;
  margin: 5px;
  border-radius: 5px; }
  .pag-selecionado a {
    color: #fff !important; }

.principal-acabamentos {
  display: flex;
  justify-content: center;
  background-color: #efefef;
  margin: 0px 0px 30px 0px;
  border-bottom: 3px solid #651264;
  padding: 0px 0px 20px 0px; }
  .principal-acabamentos > div {
    width: 1140px; }

.conteudo-acabamentos ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px; }
  .conteudo-acabamentos ul li {
    list-style: none;
    width: 33.33%;
    border: 20px solid transparent;
    box-sizing: border-box;
    position: relative; }
    .conteudo-acabamentos ul li figure {
      border: 1px solid #75ab7e; }
      .conteudo-acabamentos ul li figure img {
        max-width: 100%;
        position: relative;
        display: block;
        width: 100%; }
      .conteudo-acabamentos ul li figure p {
        position: relative;
        margin: 0px;
        background: #75ab7e;
        color: #fff;
        padding: 15px; }
    .conteudo-acabamentos ul li a span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
      opacity: 0; }

.banner-detalhes {
  width: 100%;
  height: 120px;
  background: url(../img/bg_motiva.png);
  background-position: center;
  border-bottom: 4px solid #734d31;
  background-color: #734d31;
  display: flex;
  justify-content: center; }
  .banner-detalhes > div {
    width: 1140px;
    box-sizing: border-box;
    padding: 0px 0px; }
    .banner-detalhes > div h2 {
      color: #fff;
      font-weight: 200;
      margin: 35px 0px 10px 0px;
      font-size: 18pt; }
      .banner-detalhes > div h2 span {
        font-weight: 400; }
    .banner-detalhes > div p {
      font-size: 16pt;
      font-weight: 200;
      color: #fff;
      margin: 0px; }
      .banner-detalhes > div p a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #fff; }
    .banner-detalhes > div > div {
      display: flex;
      justify-content: space-between; }

.conteudo-detalhes ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px; }
  .conteudo-detalhes ul li {
    list-style: none;
    width: 33.33%;
    border: 20px solid transparent;
    box-sizing: border-box;
    position: relative; }
    .conteudo-detalhes ul li figure img {
      max-width: 100%;
      position: relative;
      display: block;
      width: 100%; }
    .conteudo-detalhes ul li figure p {
      position: relative;
      margin: 0px;
      background: #734d31;
      color: #fff;
      padding: 15px; }
    .conteudo-detalhes ul li a span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
      opacity: 0; }

.txt1-conteudo {
  padding: 15px 0px 5px 15px !important; }

.txt2-conteudo {
  padding: 0px 0px 15px 15px !important; }

.img-banner-detalhes {
  width: 100%;
  height: 600px;
  background: url(../img/banner.jpg);
  background-position: center;
  border-bottom: 4px solid #60015B; }

.principal-detalhes {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding: 20px 0px;
  flex-direction: column; }

.txt-detalhes {
  color: #734d31;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .txt-detalhes a {
    color: #734d31; }
  .txt-detalhes p {
    font-size: 14pt; }

.img-detalhes ul {
  padding: 0px;
  justify-content: space-between;
  display: flex; }
  .img-detalhes ul li {
    list-style: none; }
    .img-detalhes ul li img {
      width: 350px !important;
      height: 230px !important; }

.img-detalhes p {
  color: #fff;
  padding: 0px;
  margin: 0px; }

.img-detalhes figure {
  background: #8e4f31; }

.img-detalhes figcaption {
  padding: 10px; }

.banner-linha {
  width: 100%;
  height: 300px;
  background: url(../img/banner.jpg);
  background-position: center;
  border-bottom: 4px solid #60015B; }

.principal-linha {
  width: 1140px;
  display: flex;
  margin: 0 auto;
  padding: 20px 0px;
  flex-direction: column; }
  .principal-linha > p {
    color: #666;
    width: 70%; }

.vitrine-linha {
  position: absolute;
  width: 100%;
  height: 300px;
  background: rgba(142, 79, 49, 0.54);
  border-bottom: 4px solid #75ab7e; }

.banner-linha {
  width: 100%;
  height: 300px;
  background: url(../img/banner.jpg);
  background-position: center;
  border-bottom: 4px solid #75ab7e; }

.txt-lista-linha {
  color: #666 !important; }

.txt-banner-linha {
  width: 100%;
  height: 120px;
  background-position: center;
  display: flex;
  justify-content: center;
  bottom: 0px;
  position: absolute;
  padding: 0px 0px 15px 0px;
  box-sizing: border-box; }
  .txt-banner-linha > div {
    width: 1140px;
    padding: 0px 20px;
    box-sizing: border-box; }
    .txt-banner-linha > div h1 {
      color: #fff;
      font-weight: 200;
      margin: 35px 0px 10px 0px; }
      .txt-banner-linha > div h1 span {
        font-weight: 400; }
    .txt-banner-linha > div p {
      font-size: 16pt;
      font-weight: 200;
      color: #fff;
      margin: 0px; }
      .txt-banner-linha > div p a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #fff; }
      .txt-banner-linha > div p span {
        font-weight: 400; }
    .txt-banner-linha > div > div {
      display: flex;
      justify-content: space-between; }

.tags-linha ul {
  display: flex;
  padding: 0px; }
  .tags-linha ul li {
    list-style: none;
    padding: 5px 10px;
    background: #8e4f31;
    color: #fff;
    border-radius: 5px;
    margin: 0px 10px 0px 0px; }
    .tags-linha ul li a {
      color: #fff; }

.txt-lista-linha {
  color: #666 !important;
  margin: 0px 0px 0px -10px; }

.lista-opcoes-linha ul {
  display: flex;
  align-items: center;
  padding: 0px; }
  .lista-opcoes-linha ul .txt-lista-acabamentos {
    color: #666;
    padding: 0px 21px 0px 0px; }
  .lista-opcoes-linha ul li {
    list-style: none;
    color: #75ab7e;
    padding: 0px 21px 0px 0px;
    padding: 5px 10px !important; }
    .lista-opcoes-linha ul li a {
      color: #75ab7e; }

.pag-linha-selecionado a {
  color: #fff !important;
  padding: 3px 7px;
  border-radius: 5px;
  background: #8e4f31; }

.linha-selecionado {
  color: #fff !important;
  background: #8e4f31;
  border-radius: 5px; }
  .linha-selecionado a {
    color: #fff !important; }

.pag-linha ul {
  display: flex;
  justify-content: center;
  padding: 0px; }
  .pag-linha ul li {
    list-style: none;
    padding: 5px;
    background: #fff;
    color: #75ab7e;
    margin: 5px; }
    .pag-linha ul li a {
      color: #75ab7e; }

.img-detalhes-linha ul {
  padding: 0px;
  display: flex;
  flex-wrap: wrap; }
  .img-detalhes-linha ul li {
    list-style: none;
    margin: 0px 0px 30px 0px;
    width: 33.33%;
    border-top: 20px solid transparent;
    box-sizing: border-box;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: relative; }
    .img-detalhes-linha ul li img {
      width: 100%;
      display: block; }
    .img-detalhes-linha ul li a span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
      opacity: 0; }
  .img-detalhes-linha ul li:hover figure figcaption {
    margin: -30px 0px 0px 0px;
    position: relative;
    padding: 25px 10px; }

.img-detalhes-linha p {
  color: #fff;
  padding: 0px;
  margin: 0px; }

.img-detalhes-linha figcaption {
  padding: 10px;
  background: #8e4f31; }

body.color-01 .vitrine-linha {
  background: rgba(117, 171, 126, 0.54);
  border-bottom: 4px solid #75ab7e; }

body.color-01 .tags-linha ul li {
  background: #75ab7e; }

body.color-01 .linha-selecionado {
  background: #75ab7e; }

body.color-01 .img-detalhes-linha ul li figure figcaption {
  background: #75ab7e; }

body.color-01 .pag-linha-selecionado a {
  background: #8e4f31; }

body.color-02 .vitrine-linha {
  background: rgba(142, 79, 49, 0.54);
  border-bottom: 4px solid #8e4f31; }

body.color-02 .tags-linha ul li {
  background: #8e4f31; }

body.color-02 .linha-selecionado {
  background: #8e4f31; }

body.color-02 .img-detalhes-linha ul li figure figcaption {
  background: #8e4f31; }

body.color-02 .pag-linha-selecionado a {
  background: #8e4f31; }

.newsletter {
  background: #efefef;
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: center; }

.info-newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px; }
  .info-newsletter p {
    color: #60015B;
    font-size: 14pt;
    margin: 0px 20px 0px 0px; }
  .info-newsletter input {
    border: 1px solid #60015B;
    border-radius: 4px;
    padding: 6px 15px;
    width: 300px;
    font-size: 12pt;
    margin: 0px 0px 0px 5px; }
  .info-newsletter button {
    background: transparent;
    border: 0px;
    padding: 0px 5px;
    font-size: 14pt;
    border-bottom: 1px solid #60015B;
    margin: 0px 0px 0px 15px;
    color: #60015B; }

.footer {
  background: #e3e3e3;
  width: 100%;
  padding: 40px 0px 25px 0px;
  display: flex;
  justify-content: space-around; }
  .footer h3 {
    margin: 0px 0px 10px 0px;
    color: #60015B;
    font-size: 16pt;
    font-weight: normal; }
  .footer p {
    color: #4f4f4f;
    margin: 0px; }
  .footer input {
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid #60015B;
    width: 230px; }
  .footer button {
    background: transparent;
    border: 0px;
    padding: 0px 5px;
    font-size: 14pt;
    border-bottom: 1px solid #60015B;
    margin: 5px 0px 0px 185px;
    color: #60015B;
    width: 60px; }

.content-footer {
  width: 1000px;
  display: flex;
  justify-content: space-between; }

.contato, .acesso-restrito, .social {
  width: 33.33%; }

.contato p a {
  color: #4f4f4f; }

.social {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 120px;
  box-sizing: border-box; }
  .social a {
    text-decoration: none;
    color: #4f4f4f;
    margin: 5px 0px 0px 0px; }

.input2-acesso {
  margin: 7px 0px 0px 0px; }

.acesso-restrito {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0px 0px 0px 60px; }

.icon-facebook {
  height: 24px;
  width: 24px;
  background: url(../img/icon-facebook.png);
  background-size: 24px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 35px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.icon-twitter {
  height: 24px;
  width: 24px;
  background: url("../img/icon-twitter.png");
  background-size: 24px;
  margin: 5px 0px 0px 0px;
  padding: 0px 0px 0px 35px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center; }

@media (max-width: 1224px) {
  .principal-detalhes {
    width: 100% !important; }
  .txt-detalhes {
    padding: 0px 20px; } }

@media (min-width: 1024px) and (max-width: 1439px) {
  .logo {
    padding: 0px 0px 0px 10px; }
  .header > div {
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }
  .principal-home h2 {
    font-size: 36pt !important; }
  .conteudo-home {
    justify-content: space-around !important; }
  .info-newsletter {
    width: 960px !important; }
    .info-newsletter p {
      font-size: 11pt !important; }
  .content-footer {
    width: 960px !important; }
  .banner-detalhes > div {
    padding: 0px 20px 0px 20px; }
  .img-detalhes ul li img {
    width: 100%; }
  .principal-linha {
    width: 100% !important;
    padding: 20px 20px;
    box-sizing: border-box; }
  .img-detalhes-linha ul {
    padding: 0px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap; }
    .img-detalhes-linha ul li {
      list-style: none;
      margin: 0px 0px 30px 0px; }
      .img-detalhes-linha ul li img {
        width: 100%; }
  .img-detalhes-linha p {
    color: #fff;
    padding: 0px;
    margin: 0px; }
  .img-detalhes-linha figure {
    background: #8e4f31; }
  .img-detalhes-linha figcaption {
    padding: 10px; }
  .principal-produtos {
    width: 100% !important; }
  .banner-sobre > div {
    width: 100%;
    padding: 0px 20px; }
  .conteudo-representantes {
    width: 100% !important; }
  .txt-sobre article h1 {
    color: #60015B;
    font-weight: 400;
    font-size: 16pt; }
  .txt-sobre ul {
    padding: 0px;
    margin: 40px 0px 20px 0px !important; } }

@media (min-width: 1025px) and (max-width: 1231px) {
  .conteudo-home ul li {
    width: 33.33% !important; }
  .principal-home {
    width: 100% !important; }
  .header > div {
    width: 100% !important; }
  .principal-produtos {
    width: 100% !important; }
  .header > div {
    width: 100% !important; }
  .principal-representantes > div {
    width: 100% !important;
    padding: 0px 0px 0px 20px;
    box-sizing: border-box; }
  .header > div {
    width: 100% !important; } }

@media (max-width: 865px) {
  .content-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; }
  .contato {
    padding: 0px 0px 0px 0px; }
  .acesso-restrito {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px 0px 0px 0px; }
  .social {
    padding: 30px 0px 0px 0px !important; }
  .info-newsletter input {
    margin: 10px 0px 0px 5px !important; }
  .info-newsletter button {
    margin: 10px 0px 0px 15px !important; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .lista-opcoes-acabamentos {
    padding: 0px 0px 0px 20px; }
  .banner-detalhes > div h2 {
    color: #fff;
    font-weight: 200;
    margin: 35px 20px 10px 20px;
    font-size: 18pt; }
  .banner-detalhes > div > div {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px; }
  .principal-linha {
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .principal-produtos {
    width: 100% !important; }
  .principal-linha {
    width: 100%; }
  .logo {
    padding: 0px 0px 0px 10px; }
  .conteudo {
    margin: 75px 0px 0px 0px !important; }
  .menu {
    display: none; }
  .info-newsletter {
    flex-direction: column; }
  .menu-mobile {
    display: block;
    position: fixed;
    margin: 68px 0px 0px -50%;
    background: #fff;
    height: 100% !important;
    z-index: 9999;
    padding: 0px 0px 0px 0px;
    width: 50%; }
    .menu-mobile ul {
      margin: 40px 0px 0px 0px !important; }
      .menu-mobile ul li {
        list-style: none;
        margin: 10px 0px 0px 0px; }
        .menu-mobile ul li a {
          text-decoration: none; }
  .icon-menu-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 0px; }
  .idioma {
    display: none; }
  .header > div {
    width: 100% !important; }
  .principal-home {
    width: 100% !important; }
    .principal-home h2 {
      font-size: 32pt !important; }
  .conteudo-home {
    justify-content: space-around !important; }
    .conteudo-home ul li {
      width: 33.33% !important; }
  .info-newsletter {
    flex-direction: column; }
    .info-newsletter p {
      margin: 0px 0px 0px 0px !important; }
    .info-newsletter input {
      margin: 10px 0px 0px 5px !important; }
    .info-newsletter button {
      margin: 10px 0px 0px 15px !important; }
  .contato {
    padding: 0px 0px 0px 10px; }
  .social {
    padding: 0px 0px 0px 120px; }
  .footer p {
    font-size: 10pt; }
  .conteudo-acabamentos ul li {
    width: 50% !important; }
  .principal-produtos {
    width: 100% !important; }
  .lista-opcoes-acabamentos ul {
    margin: 30px 0px 20px 0px !important; }
  .principal-contato {
    flex-direction: column-reverse !important; }
  .txt-contato article {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .mapa-contato iframe {
    border-bottom: 3px solid #60015B !important;
    height: 300px; }
  .principal-detalhes {
    width: 100% !important; }
  .img-detalhes ul {
    padding: 0px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap; }
    .img-detalhes ul li {
      list-style: none;
      margin: 20px 0px 0px 0px; }
  .principal-representantes > div {
    width: 100%;
    padding: 0px 0px 0px 20px;
    box-sizing: border-box; }
  .conteudo-representantes ul li {
    width: 50% !important; }
  .principal-sobre {
    max-height: 100% !important;
    flex-direction: column; }
  .slide-sobre, .txt-sobre {
    width: 100% !important; }
  .txt-sobre article ul {
    margin: 40px 0px 20px 0px !important; }
  .info-newsletter input {
    margin: 10px 0px 0px 5px !important; }
  .info-newsletter button {
    margin: 10px 0px 0px 15px !important; }
  .principal-representantes > div {
    width: 100%; } }

@media (min-width: 576px) and (max-width: 767px) {
  .img-detalhes-linha ul li {
    list-style: none;
    margin: 0px 0px 30px 0px;
    width: 50%;
    border-top: 20px solid transparent;
    box-sizing: border-box;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: relative; }
  .conteudo-detalhes ul li {
    width: 50% !important; }
  .principal-linha {
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box; }
  .conteudo-representantes ul li {
    width: 50%; }
  .mapa-contato {
    height: 300px; }
  .txt-contato {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .principal-contato {
    flex-direction: column-reverse !important; }
  .principal-representantes > div {
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box; }
  .principal-sobre {
    max-height: 100% !important;
    flex-direction: column; }
  .slide-sobre, .txt-sobre {
    width: 100%; }
  .conteudo {
    margin: 75px 0px 0px 0px !important; }
  .principal-produtos {
    width: 100% !important; }
  .icon-menu-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 0px; }
  .menu {
    display: none; }
  .idioma {
    display: none; }
  .info-newsletter {
    flex-direction: column; }
  .lista-opcoes-acabamentos ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    flex-direction: column; }
  .conteudo-acabamentos {
    justify-content: center; }
  .pag-acabamentos ul {
    padding: 0px; }
  .conteudo-acabamentos ul li {
    width: 50% !important; }
  .principal-home {
    width: 100%; }
  .conteudo-home ul {
    margin: 0px 0px 30px 0px !important; }
    .conteudo-home ul li {
      width: 50% !important; }
  .info-newsletter input {
    margin: 10px 0px 0px 5px !important; }
  .info-newsletter button {
    margin: 10px 0px 0px 15px !important; } }

@media (max-width: 700px) {
  .principal-linha {
    width: 100%; }
  .conteudo-representantes ul li {
    width: 50%; }
  .principal-representantes > div {
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box; }
  .conteudo {
    margin: 75px 0px 0px 0px !important; }
  .principal-produtos {
    width: 100% !important; }
  .info-newsletter {
    flex-direction: column; }
  .conteudo-representantes ul li {
    width: 100% !important; }
  .conteudo-home ul {
    margin: 0px 0px 30px 0px !important; }
  .info-newsletter input {
    margin: 10px 0px 0px 5px !important; }
  .info-newsletter button {
    margin: 10px 0px 0px 15px !important; } }

@media (min-width: 420px) and (max-width: 565px) {
  .principal-linha {
    width: 100%; }
  .conteudo-detalhes ul li {
    list-style: none;
    width: 33.33%;
    border-left: 80px solid transparent;
    box-sizing: border-box;
    border-right: 80px solid transparent;
    border-top: 40px solid transparent; } }

@media (max-width: 575px) {
  .principal-linha {
    width: 100%; }
  .tags-linha ul li {
    display: flex;
    align-items: center; }
  .conteudo-detalhes ul li {
    width: 100% !important; }
  .principal-linha > p {
    color: #666;
    width: 100%; }
  .img-detalhes-linha ul li {
    list-style: none;
    margin: 0px 0px 30px 0px;
    width: 100%;
    border-top: 20px solid transparent;
    box-sizing: border-box;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent; }
  .principal-linha {
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box; }
  .banner-detalhes > div h1 {
    font-size: 14pt; }
  .principal-representantes > div {
    width: 100%; }
  .conteudo-representantes ul li {
    width: 50%; }
  .principal-representantes > div {
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box; }
  .conteudo {
    margin: 75px 0px 0px 0px !important; }
  .info-newsletter {
    flex-direction: column; }
  .principal-produtos {
    width: 100% !important; }
    .principal-produtos > p {
      margin: 0px 0px 25px 0px;
      width: 90%;
      color: #58585a;
      padding: 20px;
      text-align: justify; }
  .info-newsletter input {
    margin: 10px 0px 0px 5px !important; }
  .info-newsletter button {
    margin: 10px 0px 0px 15px !important; }
  .principal-produtos {
    width: 100% !important; }
  .conteudo-acabamentos ul li {
    width: 100% !important; }
  .lista-opcoes-acabamentos ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    flex-direction: column; }
  .principal-contato {
    flex-direction: column-reverse !important; }
  .txt-contato article {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .mapa-contato iframe {
    border-bottom: 3px solid #60015B !important;
    height: 300px; }
  .principal-detalhes {
    width: 100% !important;
    display: flex;
    margin: 0 auto;
    padding: 20px 0px;
    flex-direction: column; }
  .img-detalhes ul {
    padding: 0px;
    justify-content: space-between;
    display: flex;
    flex-direction: column; }
    .img-detalhes ul li {
      display: flex;
      justify-content: center;
      margin: 20px 0px 0px 0px; }
  .principal-linha {
    width: 100%; }
  .img-detalhes-linha ul {
    padding: 0px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    .img-detalhes-linha ul li {
      list-style: none;
      margin: 0px 0px 30px 0px;
      display: flex;
      justify-content: center; }
      .img-detalhes-linha ul li img {
        width: 100%; }
  .img-detalhes-linha p {
    color: #fff;
    padding: 0px;
    margin: 0px; }
  .img-detalhes-linha figure {
    background: #8e4f31; }
  .img-detalhes-linha figcaption {
    padding: 10px; }
  .lista-opcoes-linha ul {
    display: flex;
    align-items: center;
    padding: 0px;
    flex-direction: column; }
    .lista-opcoes-linha ul .txt-lista-acabamentos {
      color: #666;
      padding: 0px 21px 0px 0px; }
    .lista-opcoes-linha ul li {
      list-style: none;
      color: #75ab7e;
      padding: 0px 21px 0px 0px;
      padding: 5px 10px !important; }
  .principal-sobre {
    max-height: 100% !important;
    flex-direction: column; }
  .slide-sobre, .txt-sobre {
    width: 100% !important; }
  .txt-sobre article ul {
    margin: 40px 0px 20px 0px !important; }
  .logo {
    padding: 0px 0px 0px 10px; }
  .header > div {
    width: 100%; }
  .menu {
    display: none !important; }
  .idioma {
    display: none; }
  .icon-menu-mobile {
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
    padding: 0px 0px 0px 0px; }
  .principal-home {
    width: 100% !important; }
    .principal-home h2 {
      font-size: 32pt !important; }
  .conteudo-home {
    justify-content: center !important; }
    .conteudo-home ul {
      margin: 0px 40px 30px 40px !important; }
      .conteudo-home ul li {
        width: 100% !important; }
  .info-newsletter {
    flex-direction: column !important; }
  .content-footer {
    width: 100% !important;
    flex-direction: column !important; }
  .content-footer {
    text-align: center; }
  .acesso-restrito {
    justify-content: center;
    align-items: center; }
  .footer h3 {
    margin: 30px 0px 10px 0px !important; }
  .social p {
    justify-content: center; }
  .info-newsletter p {
    margin: 0px 20px 10px 0px; }
  .info-newsletter input {
    margin: 0px 0px 15px 5px !important; } }

@media (max-width: 426px) {
  .tags-linha ul li {
    list-style: none;
    padding: 5px 10px;
    background: #8e4f31;
    color: #fff;
    border-radius: 5px;
    margin: 0px 10px 0px 0px;
    display: flex;
    align-items: center; }
  .contato {
    width: 70%; }
  .banner-detalhes > div h2 {
    color: #fff;
    font-weight: 200;
    margin: 20px 0px 10px 20px;
    font-size: 18pt; }
  .banner-detalhes > div > div {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px; }
  .txt-detalhes p {
    font-size: 12pt; } }
