.banner-produtos{
	width: 100%;
	height: 300px;
	background: url(../img/banner.jpg);
	background-position: center;
	border-bottom: 4px solid #60015B;
}
.principal-produtos{
    width: 1200px;
    display: flex;
    margin: 0 auto;
    padding: 20px 0px;
    flex-direction: column;
}
.principal-produtos{
	h2 {
	    font-weight: 200;
	    font-size: -webkit-xxx-large;
	    color: #4f4f4f;
	    margin: 0px 0px 15px 20px;
	    span{
	    	font-weight: 400;
	    }
    }
    >p{
	    margin: 0px 0px 25px 20px;
	    width: 70%;
	    color: #58585a;
    }
}
.conteudo-produtos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    ul{
		display: flex;
		flex-wrap: wrap;
		margin: 0px 0px 30px 0px;
		padding: 0px;
    	li{
		    list-style: none;
		    display: block;
		    width: 33.33%;
		    position: relative;
		    box-sizing: border-box;
		    border: 25px solid transparent;
			.img-linhas-home{
				width: 100%;
				max-width: 100%;
				display: block;
			}
			.info-conteudo-home {
				margin: 0px 0px 0px 0px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 15px;
				position: relative;
				a{
				    color: #fff;
				    border-bottom: 1px solid #fff;
				    padding: 0px 7px;
				    margin: 7px 0px 0px 0px;
				}
			    p{
			    	padding: 10px 15px;
				    color: #fff;
				    font-size: 18pt;
				    text-align: center;
				    margin: 0px;
			    }
			}
		}
    }
}