.banner-linha{
	width: 100%;
	height: 300px;
	background: url(../img/banner.jpg);
	background-position: center;
	border-bottom: 4px solid #60015B;
}
.principal-linha{
    width: 1140px;
    display: flex;
    margin: 0 auto;
    padding: 20px 0px;
    flex-direction: column;
    >p{
        color: #666;
        width: 70%;
    }
}
.vitrine-linha {
    position: absolute;
    width: 100%;
    height: 300px;
    background: rgba( 142, 79, 49, 0.54);
    border-bottom: 4px solid #75ab7e;
}
.banner-linha {
    width: 100%;
    height: 300px;
    background: url(../img/banner.jpg);
    background-position: center;
    border-bottom: 4px solid #75ab7e;
}
.txt-lista-linha{
    color: #666 !important;
}
.txt-banner-linha{
    width: 100%;
    height: 120px;
    background-position: center;
    display: flex;
    justify-content: center;
    bottom: 0px;
    position: absolute;
    padding: 0px 0px 15px 0px;
    box-sizing: border-box;
    >div{
        width: 1140px;
        padding: 0px 20px;
        box-sizing: border-box;
        h1{
            color: #fff;
            font-weight: 200;
            margin: 35px 0px 10px 0px;
            span{
                font-weight: 400;
            }
        }
        p{
            font-size: 16pt;
            font-weight: 200;
            color: #fff;
            margin: 0px;
            a{
                color: #fff;
                text-decoration: none;
                border-bottom: 1px solid #fff;
            }
            span{
                font-weight: 400;
            }
        }
        >div{
            display: flex;
            justify-content: space-between;
        }
    }
}

.tags-linha{
    ul{
        display: flex;
        padding: 0px;
        li{
            list-style: none;
            padding: 5px 10px;
            background: #8e4f31;
            color: #fff;
            border-radius: 5px;
            margin: 0px 10px 0px 0px;
            a{
                color: #fff;
            }
        }
    }
}
.txt-lista-linha {
    color: #666 !important;
    margin: 0px 0px 0px -10px;
}
.lista-opcoes-linha{
    ul{
        display: flex;
        align-items: center;
        padding: 0px;
        .txt-lista-acabamentos{
            color: #666;
            padding: 0px 21px 0px 0px;
        }
        li{
            list-style: none;
            color: #75ab7e;
            padding: 0px 21px 0px 0px;
            padding: 5px 10px !important;
            a{
                color: #75ab7e;
            }
        }
    }
}
.pag-linha-selecionado{
    a{
        color: #fff !important;
        padding: 3px 7px;
        border-radius: 5px;
        background: #8e4f31;
    }
}
.linha-selecionado{
    color: #fff !important;
    background: #8e4f31;
    border-radius: 5px;
    a{
        color: #fff !important;
    }
}
.pag-linha{
    ul{
        display: flex;
        justify-content: center;
        padding: 0px;
        li{
            list-style: none;
            padding: 5px;
            background: #fff;
            color: #75ab7e;
            margin: 5px;
            a{
                color: #75ab7e;
            }
        }
    }
}
.img-detalhes-linha{
    ul{
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        li{
            list-style: none;
            margin: 0px 0px 30px 0px;
            width: 33.33%;
            border-top: 20px solid transparent;
            box-sizing: border-box;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            position: relative;
            img{
                width: 100%;
                display: block;
            }
            a{
                span{
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 9;
                    opacity: 0;
                }
            }
        }
        li:hover{

            figure{
                figcaption{
                    margin: -30px 0px 0px 0px;
                    position: relative;
                    padding: 25px 10px;
                }
            }

        }
    }
    p{
        color: #fff;
        padding:    0px;
        margin: 0px;
    }
    figure{
        
    }
    figcaption{
        padding: 10px;
        background: #8e4f31;
    }
}

body.color-01 {
    .vitrine-linha{    
        background: rgba(117, 171, 126, 0.54);
        border-bottom: 4px solid #75ab7e;
    }
    .tags-linha{
        ul{
            li{
                background: #75ab7e;
            }
        }
    }
    .linha-selecionado{
        background: #75ab7e;
    }
    .img-detalhes-linha{
        ul{
            li{
                figure{
                    figcaption{
                        background: #75ab7e; 
                    }
                }
            }
        }
    }
    .pag-linha-selecionado{
        a{
            background: #8e4f31;
        }
    }
}
body.color-02 {
    .vitrine-linha{    
            background: rgba(142, 79, 49, 0.54);
        border-bottom: 4px solid #8e4f31;
    }
    .tags-linha{
        ul{
            li{
                background: #8e4f31;
            }
        }
    }
    .linha-selecionado{
        background: #8e4f31;
    }
    .img-detalhes-linha{
        ul{
            li{
                figure{
                    figcaption{
                        background: #8e4f31; 
                    }
                }
            }
        }
    }
    .pag-linha-selecionado{
        a{
            background: #8e4f31;
        }
    }
}
