.principal-home {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    padding: 20px 0px;
    flex-direction: column;
}
.principal-home{

	h2 {
	    font-weight: 200;
	    text-align: center;
	    color: #4f4f4f;
	    margin: 5px 0px 5px 0px;
	    font-size: 42pt;
	    span{
	    	font-weight: 400;
	    }
    }
}
.conteudo-home {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    ul{
		display: flex;
		flex-wrap: wrap;
		margin: 0px 0px 30px 0px;
		padding: 0px;
    	li{
		    list-style: none;
		    display: block;
		    width: 33.33%;
		    position: relative;
		    box-sizing: border-box;
		    border: 20px solid transparent;
		    figure{
		    	figcaption{
		    		.img-m-maestra{
					    background-image: url(../img/m-maestra.png);
					    color: transparent;
					    width: 200px;
					    background-repeat: no-repeat;
					    height: 45px;
					    margin: 0px;
		    		}
		    		.img-m-office{
					    background-image: url(../img/m-maestra.png);
					    color: transparent;
					    width: 200px;
					    background-repeat: no-repeat;
					    height: 45px;
					    margin: 0px;
		    		}
		    		.img-m-certificata{
					    background-image: url(../img/m-maestra.png);
					    color: transparent;
					    width: 200px;
					    background-repeat: no-repeat;
					    height: 45px;
					    margin: 0px;
		    		}
		    		.img-m-partiz{
					    background-image: url(../img/m-maestra.png);
					    color: transparent;
					    width: 200px;
					    background-repeat: no-repeat;
					    height: 45px;
					    margin: 0px;
		    		}
		    		.img-m-didacta{
					    background-image: url(../img/m-maestra.png);
					    color: transparent;
					    width: 200px;
					    background-repeat: no-repeat;
					    height: 45px;
					    margin: 0px;
		    		}
		    		.img-m-commerce{
					    background-image: url(../img/m-maestra.png);
					    color: transparent;
					    width: 200px;
					    background-repeat: no-repeat;
					    height: 45px;
					    margin: 0px;
		    		}
		    	}
		    }
			.img-linhas-home{
				width: 100%;
				max-width: 100%;
				display: block;
			}
			.info-conteudo-home {
				margin: 0px 0px 0px 0px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 15px;
				position: relative;
				a{
				    color: #fff;
				    border-bottom: 1px solid #fff;
				    padding: 0px 7px;
				    margin: 7px 0px 0px 0px;
				}
			    .close-link-home{
			    	color: #fff;
				    border-bottom: 1px solid #fff;
				    padding: 0px 7px;
				    margin: 7px 0px 0px 0px;
			    }
			}
		}
		li:hover{
			figure{
				>div{
					opacity: 0;
				}
				figcaption{
					margin: -26px 0px 0px 0px;
					.close-link-home{
					display: block;
					}
				}
			}
		}
    }
}
.m-maestra {
    background: #774b28;
}
.m-office {
    background: #183a68;
}
.m-certificata {
    background: #75ab7e;
}
.m-partiz {
    background: #878787;
}
.m-didacta {
    background: #fbbd51;
}
.m-commerce {
    background: #cd6351;
}
.open-img-home{
	margin: -26px 0px 0px 0px !important;
	position: relative;
}
.close-link-home{
	display: none;
}
.mais-home{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	opacity: 0;
}
.vitrine-home{
	width: 100%;
    height: 100%;
    position: absolute;
}
.vitrine-maestra{
	background: rgba(119, 75, 40,0.8);
}
.vitrine-office{
	background: rgba(24,58,104,0.8);  
}
.vitrine-certificata{
	background: rgba(117, 171, 126,0.8);
}
.vitrine-partiz{
	background: rgba(135, 135, 135,0.8); 
}
.vitrine-didacta{
	background: rgba(251, 189, 81,0.8);
}
.vitrine-commerce{
	background: rgba(205, 99, 81,0.8);
}
.link-vitrine{
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
	span{
	    display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 9;
		opacity: 0;
	}
}