.banner-detalhes{
    width: 100%;
    height: 120px;
    background: url(../img/bg_motiva.png);
    background-position: center;
    border-bottom: 4px solid #734d31;
    background-color: #734d31;
    display: flex;
    justify-content: center;
    >div{
        width: 1140px;
        box-sizing: border-box;
        padding: 0px 0px;
    	h2{
            color: #fff;
            font-weight: 200;
            margin: 35px 0px 10px 0px;
            font-size: 18pt;
    		span{
    			font-weight: 400;
    		}
    	}
    	p{
	    	font-size: 16pt;
		    font-weight: 200;
		    color: #fff;
		    margin: 0px;
		    a{
				color: #fff;
				text-decoration: none;
				border-bottom: 1px solid #fff;
		    }
    	}
    	>div{
			display: flex;
			justify-content: space-between;
    	}
    }
}
.conteudo-detalhes{
    ul{
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        margin: 0px;
        li{
            list-style: none;
            width: 33.33%;
            border: 20px solid transparent;
            box-sizing: border-box;
            position: relative;
            figure{
                img{
                    max-width: 100%;
                    position: relative;
                    display: block;
                    width: 100%;
                }
                p{
                    position: relative;
                    margin: 0px;
                    background: #734d31;
                    color: #fff;
                    padding: 15px;
                }
            }
            a{
                span{
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 9;
                    opacity: 0;
                }
            }
        }
    }
}
.txt1-conteudo{
    padding: 15px 0px 5px 15px !important;
}
.txt2-conteudo{
    padding: 0px 0px 15px 15px !important;
}
.img-banner-detalhes{
    width: 100%;
    height: 600px;
    background: url(../img/banner.jpg);
    background-position: center;
    border-bottom: 4px solid #60015B;
}
.principal-detalhes{
    width: 1200px;
    display: flex;
    margin: 0 auto;
    padding: 20px 0px;
    flex-direction: column;
}
.txt-detalhes{
    color: #734d31;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        color: #734d31;
    }
    p{
        font-size: 14pt;
    }
}
.img-detalhes{
    ul{
        padding: 0px;
        justify-content: space-between;
        display: flex;
        li{
            list-style: none;
            img{
                width: 350px !important;
                height: 230px !important;
            }
        }
    }
    p{
        color: #fff;
        padding:    0px;
        margin: 0px;
    }
    figure{
        background: #8e4f31;
    }
    figcaption{
        padding: 10px;
    }
}

