.txt-contato article h2 {
    color: #60015B !important;
    font-weight: 400 !important;
    font-size: 16pt !important;
    margin: 15px 0px 15px 0px !important;
}

.txt-sobre{
	
	article{

		form{
		    display: flex;
		    flex-direction: column;
		    width: 70%;
		    justify-content: center;
			input{
				border: 1px solid #60015B;
				border-radius: 5px;
				padding: 7px 10px;
				font-size: 11pt;
				margin: 10px 0px 0px 0px;
				width: 100%;
			}
			textarea{
				border: 1px solid #60015B;
				border-radius: 5px;
				padding: 7px 10px;
				width: 100%;
				font-size: 11pt;
				margin: 10px 0px 0px 0px;
			}
			button{
				background: transparent;
				border: 0px;
				padding: 0px 5px;
				font-size: 10pt;
				border-bottom: 1px solid #60015B;
				margin-top: 10px;
				color: #60015B;
				margin: 10px 0px 0px 150px;
				width: 50px;
			}
		}
	}
}
.txt-contato{
	ul{
		padding: 0px;
		margin: 40px 0px 40px 0px !important;
		font-size: 12pt;
		li{
			color: #60015B;
			font-weight: 400;
			list-style: none;
			font-size: 14pt;
			margin: 10px 0px 0px 0px;
		}
	}
}
.mapa-contato{
	iframe{
	    border-bottom: 3px solid #60015B !important;
	    height: 99.5%;
	}
}