.banner-representantes{
    width: 100%;
    height: 120px;
    background: url(../img/bg_motiva.png);
    background-position: center;
    border-bottom: 4px solid #60015B;
    background-color: #702470;
    display: flex;
    justify-content: center;
    >div{
    	width: 1140px;
    	h1{
			color: #fff;
			font-weight: 200;
			margin: 35px 0px 10px 0px;
    		span{
    			font-weight: 400;
    		}
    	}
    	p{
	    	font-size: 16pt;
		    font-weight: 200;
		    color: #fff;
		    margin: 0px;
            span{
                font-weight: 400;
            }
		    a{
				color: #fff;
				text-decoration: none;
				border-bottom: 1px solid #fff;
		    }
    	}
    	>div{
			display: flex;
			justify-content: space-between;
    	}
    }
}
.principal-representantes{
    display: flex;
    justify-content: center;
    background-color: #efefef;
    margin: 0px 0px 30px 0px;
    border-bottom: 3px solid #651264;
    padding: 0px 0px 20px 0px;
    >div{
        width: 1140px;
        padding: 0px 20px;
        select{
            padding: 8px 15px;
            width: 270px;
            color: #702470;
            font-weight: 300;
            border-radius: 5px;
        }
        div{

            >p{
                margin: 0px;

            }
        }
    }
}
.txt-estado{
    color: #702470;
    font-size: 18pt;
    font-weight: 200;
}
.conteudo-representantes{
    ul{
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        margin: 0px 0px 0px 0px;
        li{
            list-style: none;
            color: #666;
            font-size: 11pt;
            width: 33.33%;
            border-top: 50px solid transparent;
            border-right: 50px solid transparent;
            box-sizing: border-box;
            border-bottom: 20px solid transparent;
            p{
                margin: 5px 0px 0px 0px;
                a{
                    color: #702470;
                    font-weight: 600;
                }
                span{
                    a{
                        color: #666;
                        font-weight: 400 !important;
                    }
                }
            }
            .titulo-representantes{
                margin: 0px 0px 20px 0px;         
            }
        }
    }
}

