.newsletter {
    background: #efefef;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
}
.info-newsletter {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    p{
		color: #60015B;
		font-size: 14pt;
		margin: 0px 20px 0px 0px;
    }
    input{
		border: 1px solid #60015B;
		border-radius: 4px;
		padding: 6px 15px;
		width: 300px;
		font-size: 12pt;
		margin: 0px 0px 0px 5px;
    }
    button{
		background: transparent;
		border: 0px;
		padding: 0px 5px;
		font-size: 14pt;
		border-bottom: 1px solid #60015B;
		margin: 0px 0px 0px 15px;
		color: #60015B;
    }
}
.footer {
    background: #e3e3e3;
    width: 100%;
    padding: 40px 0px 25px 0px;
    display: flex;
    justify-content: space-around;
    h3{
	    margin: 0px 0px 10px 0px;
	    color: #60015B;
	    font-size: 16pt;
	    font-weight: normal;
    }
    p{
   		color: #4f4f4f;
   		margin: 0px;
    }
    input{
   		padding: 7px 10px;
    	border-radius: 5px;
    	border: 1px solid #60015B;
    	width: 230px;
    }
    button{
	    background: transparent;
	    border: 0px;
	    padding: 0px 5px;
	    font-size: 14pt;
	    border-bottom: 1px solid #60015B;
	    margin: 5px 0px 0px 185px;
	    color: #60015B;
	    width: 60px;
    }
}
.content-footer{
	width: 1000px;
	display: flex;
	justify-content: space-between;
}
.contato, .acesso-restrito, .social{
    width: 33.33%;
}
.contato{
	p{
		a{
			color: #4f4f4f;
		}
	}
}
.social{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 120px;
    box-sizing: border-box;
	a{
    	text-decoration: none;
    	color: #4f4f4f;
    	margin: 5px 0px 0px 0px;
	}
	
}
.input2-acesso {
    margin: 7px 0px 0px 0px;
}
.acesso-restrito{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0px 0px 0px 60px;
}
.icon-facebook{
    height: 24px;
    width: 24px;
    background: url(../img/icon-facebook.png);
    background-size: 24px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 35px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-twitter{
	height: 24px;
    width: 24px;
    background: url("../img/icon-twitter.png");
    background-size: 24px;
    margin: 5px 0px 0px 0px;
    padding: 0px 0px 0px 35px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}