@media (max-width: 1224px){
	.principal-detalhes{
		width: 100% !important;	
	}
	.txt-detalhes{
		padding: 0px 20px;
	}
	
}


@media (min-width: 1024px) and (max-width: 1439px) {
    .logo{
		padding: 0px 0px 0px 10px;
	}
	.header{

		>div{
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
		}
	}
	.principal-home {
	    h2{
	    	font-size: 36pt !important;
	    }
	}
	.conteudo-home {
	    justify-content: space-around !important;
	}
	.info-newsletter{
		width: 960px !important;
		p{
			font-size: 11pt !important;
		}
	}
	.content-footer{
	    width: 960px !important;
	}
    .principal-detalhes{

    }
    .banner-detalhes{
        >div{
            padding: 0px 20px 0px 20px;
        }
    }
    .img-detalhes{
        ul{

            li{

                img{
                    width: 100%;
                }
            }
        }
        
    }
    .principal-linha{
		width: 100% !important;
		padding: 20px 20px;
		box-sizing: border-box;
    }
    .img-detalhes-linha{
        ul{
            padding: 0px;
            justify-content: space-around;
            display: flex;
            flex-wrap: wrap;
            li{
                list-style: none;
                margin: 0px 0px 30px 0px;
                img{
                    width: 100%;
                }
            }
        }
        p{
            color: #fff;
            padding: 0px;
            margin: 0px;
        }
        figure{
            background: #8e4f31;
        }
        figcaption{
            padding: 10px;
        }
    }
    .principal-produtos{
		width: 100% !important;
	}
	.principal-representantes{
        >div{
          
        }
    }
    .banner-sobre{
        >div{
            width: 100%;
            padding: 0px 20px;
        }
    }
    .conteudo-representantes{
        width: 100% !important;
        ul{

        }
    }
    .txt-sobre{
        article{
            h1{
                color: #60015B;
                font-weight: 400;
                font-size: 16pt;
            }
        }
        ul{
            padding: 0px;
            margin: 40px 0px 20px 0px !important;
        }
    }

}

@media (min-width: 1025px) and (max-width: 1231px) {
	.conteudo-home{
		ul{
			li{
				width: 33.33% !important;
			}
		}
	}
	.principal-home{
		width: 100% !important;
	}
	.header{

		>div{
			width: 100% !important;
		}
	}
	.principal-produtos{
		width: 100% !important;
	}
	.header{

		>div{
			width: 100% !important;
		}
	}
	.principal-representantes{
        >div{
            width: 100% !important;
            padding: 0px 0px 0px 20px;
            box-sizing: border-box;
        }
    }
    .header{

        >div{
            width: 100% !important;
        }
    }
	
}
@media (max-width: 865px) {

	.content-footer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
	}
	.contato {
	    padding: 0px 0px 0px 0px;
	}
	.acesso-restrito {
	    display: flex;
	    flex-direction: column;
	    box-sizing: border-box;
	    padding: 30px 0px 0px 0px;
	}
	.social {
	    padding: 30px 0px 0px 0px !important;
	}
	.info-newsletter input {
	    margin: 10px 0px 0px 5px !important;
	}
	.info-newsletter button {
	    margin: 10px 0px 0px 15px !important;
	}

}
@media (min-width: 768px) and (max-width: 1023px) {

	.lista-opcoes-acabamentos{
		padding: 0px 0px 0px 20px;
	}

	.banner-detalhes{
		>div{
			h2{
				color: #fff;
				font-weight: 200;
				margin: 35px 20px 10px 20px;
				font-size: 18pt;
			}
			>div{
				display: flex;
				justify-content: space-between;
				padding: 0px 20px;
			}
		}
	}
	.principal-linha{
		width: 100%;
		padding: 20px 20px;
		box-sizing: border-box;
	}

}

@media (min-width: 768px) and (max-width: 1023px) {
	.principal-produtos{
		width: 100% !important;
	}
	.principal-linha{
		width: 100%;
	}
	.logo{
		padding: 0px 0px 0px 10px;
	}
	.conteudo{
		margin: 75px 0px 0px 0px !important;
	}
	.menu{
		display: none;
	}
	.info-newsletter {
	    flex-direction: column;
	}
	.menu-mobile{
	    display: block;
	    position: fixed;
	    margin: 68px 0px 0px -50%;
	    background: #fff;
	    height: 100% !important;
	    z-index: 9999;
	    padding: 0px 0px 0px 0px;
	    width: 50%;
	    ul{
	    	margin: 40px 0px 0px 0px !important;
	    	li{
	    		list-style: none;
	    		margin: 10px 0px 0px 0px;
	    		a{
	    			text-decoration: none;
	    		}
	    	}
	    }
	}
	.menu-mobile-active{

	}
	.icon-menu-mobile{
		display: flex;
	    justify-content: center;
	    align-items: center;
	    padding: 0px 0px 0px 0px;
	}
	.idioma{
		display: none;
	}
	.header{

		>div{
			width: 100% !important;
		}
	}
	.principal-home{
		width: 100% !important;
		h2{
			font-size: 32pt !important;
		}
	}
	.conteudo-home{
	    justify-content: space-around !important;
	    ul{

	    	li{
	    		width: 33.33% !important;
	    	}
	    }
	}
	.info-newsletter{
		flex-direction: column;	
		p{
			margin: 0px 0px 0px 0px !important;
		}
		input{
			margin: 10px 0px 0px 5px !important;
		}
		button{
			margin: 10px 0px 0px 15px !important;
		}
	}
	.contato{
		padding: 0px 0px 0px 10px;
	}
	.social{
		padding: 0px 0px 0px 120px;
	}
	.footer{

		p{
			font-size: 10pt;
		}
	}
	.conteudo-acabamentos{
		ul{
			li{
				width: 50% !important;
			}
		}
	}
	.principal-produtos {
	    width: 100% !important;
	}
	.lista-opcoes-acabamentos{
		ul{
			margin: 30px 0px 20px 0px !important; 
		}
	}
	.principal-contato{
		flex-direction: column-reverse !important;
	}
	.txt-contato{

		article{
			width: 80%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	.mapa-contato{
		iframe{
			border-bottom: 3px solid #60015B !important;
	    	height: 300px;
		}
	}
	.principal-detalhes {
        width: 100% !important;
    }
    .img-detalhes{
        ul{
            padding: 0px;
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
            li{
                list-style: none;
                margin: 20px 0px 0px 0px;
            }
        }
    }
    .principal-representantes{
        >div{
            width: 100%;
            padding: 0px 0px 0px 20px;
            box-sizing: border-box;
        }
    }
    .conteudo-representantes{
        ul{

            li{
                width: 50% !important;
            }
        }
    }
    .principal-sobre{
	    max-height: 100% !important;
	    flex-direction: column;
    }
    .slide-sobre, .txt-sobre {
        width: 100% !important;
    }
    .txt-sobre{
        article{
            ul{
                margin: 40px 0px 20px 0px !important;
            }
        }
    }
    .info-newsletter input {
	    margin: 10px 0px 0px 5px !important;
	}
	.info-newsletter button {
	    margin: 10px 0px 0px 15px !important;
	}
	.principal-representantes{
		>div {
    		width: 100%;
    	}
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.img-detalhes-linha{
		ul{
			li{
				list-style: none;
				margin: 0px 0px 30px 0px;
				width: 50%;
				border-top: 20px solid transparent;
				box-sizing: border-box;
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
				position: relative;
			}
		}
	}
	.conteudo-detalhes{
		ul{
			li{
				width: 50% !important;
			}
		}
	}
	.principal-linha {
	    width: 100%;
	    padding: 20px 20px;
	    box-sizing: border-box;
	}
	.conteudo-representantes{
		ul{
			li{
				width: 50%;
			}
		}
	}
	.mapa-contato{
		height: 300px;
	}
	.txt-contato{
	    width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.principal-contato{
		flex-direction: column-reverse !important;
	}
	.principal-representantes{
		>div {
    		width: 100%;
    		padding: 0px 20px;
    		box-sizing: border-box;
    	}
	}
	.principal-sobre {
	    max-height: 100% !important;
	    flex-direction: column;
	}	
	.slide-sobre, .txt-sobre {
    	width: 100%;
	}		
	.conteudo{
		margin: 75px 0px 0px 0px !important;
	}
	.principal-produtos{
		width: 100% !important;
	}
	.icon-menu-mobile {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    padding: 0px 0px 0px 0px;
	}
	.menu{
		display: none;
	}
	.idioma{
		display: none;
	}
	.info-newsletter {
	    flex-direction: column;
	}
	.lista-opcoes-acabamentos{

		ul{
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0px;
			flex-direction: column;
		}
	}
	.conteudo-acabamentos{
		justify-content: center;
	}
	.pag-acabamentos{
		ul{
			padding: 0px;
		}
	}
	.conteudo-acabamentos{
		ul{
			li{
				width: 50% !important;
			}
		}
	}
	.principal-home{
		width: 100%;
	}
	.conteudo-home{
		ul{
			margin: 0px 0px 30px 0px !important;
			li{
				width: 50% !important;
			}
		}
	}
	.info-newsletter input {
	    margin: 10px 0px 0px 5px !important;
	}
	.info-newsletter button {
	    margin: 10px 0px 0px 15px !important;
	}
}
@media (max-width: 700px){
	.principal-linha{
		width: 100%;
	}
	.conteudo-representantes{
		ul{
			li{
				width: 50%;
			}
		}
	}
	.principal-representantes{
		>div {
    		width: 100%;
    		padding: 0px 20px;
    		box-sizing: border-box;
    	}
	}
    .conteudo{
		margin: 75px 0px 0px 0px !important;
	}
	.principal-produtos{
		width: 100% !important;
	}
	.info-newsletter {
	    flex-direction: column;
	}
    .conteudo-representantes{
        ul{

            li{
                width: 100% !important;
            }
        }
    }
    .conteudo-home{
    	ul{
    		margin: 0px 0px 30px 0px !important;
    	}
    }
    .info-newsletter input {
	    margin: 10px 0px 0px 5px !important;
	}
	.info-newsletter button {
	    margin: 10px 0px 0px 15px !important;
	}

}
@media (min-width: 420px) and (max-width: 565px){
	.principal-linha{
		width: 100%;
	}
	.conteudo-detalhes{
		ul{
			li{
				list-style: none;
				width: 33.33%;
				border-left: 80px solid transparent;
				box-sizing: border-box;
				border-right: 80px solid transparent;
				border-top: 40px solid transparent;
			}
		}
	}
}

@media (max-width: 575px) {
	.principal-linha{
		width: 100%;
	}
	.tags-linha{
		ul{
			li{
				display: flex;
				align-items: center;
			}
		}
	}
	.conteudo-detalhes{
		ul{
			li{
				width: 100% !important;
			}
		}
	}
	.principal-linha {
		>p{
	    	color: #666;
	    	width: 100%;
		}
	}
	.img-detalhes-linha{
		ul{
			li{
				list-style: none;
			    margin: 0px 0px 30px 0px;
			    width: 100%;
			    border-top: 20px solid transparent;
			    box-sizing: border-box;
			    border-left: 40px solid transparent;
			    border-right: 40px solid transparent;
			}
		}
	}
	.principal-linha{
		width: 100%;
		padding: 20px 20px;
		box-sizing: border-box;
	}
	.banner-detalhes{
		>div{
			h1{
				font-size: 14pt;
			}
		}
	}
	.principal-representantes{
		>div{
			width: 100%;
		}	
	}
	.conteudo-representantes{
		ul{
			li{
				width: 50%;
			}
		}
	}
	.principal-representantes{
		>div {
    		width: 100%;
    		padding: 0px 20px;
    		box-sizing: border-box;
    	}
	}
	.conteudo{
		margin: 75px 0px 0px 0px !important;
	}
	.info-newsletter {
	    flex-direction: column;
	}
	.principal-produtos {
	    width: 100% !important;
	    >p{
	        margin: 0px 0px 25px 0px;
		    width: 90%;
		    color: #58585a;
		    padding: 20px;
		    text-align: justify;
	    }
	}
	.info-newsletter input {
	    margin: 10px 0px 0px 5px !important;
	}
	.info-newsletter button {
	    margin: 10px 0px 0px 15px !important;
	}
	.principal-produtos{
		width: 100% !important;
	}
	.conteudo-acabamentos{
		ul{
			li{
				width: 100% !important;
			}
		}
	}
	.lista-opcoes-acabamentos {
		ul{
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0px;
			flex-direction: column;
		}
	}
	.principal-contato{
		flex-direction: column-reverse !important;
	}
	.txt-contato{

		article{
			width: 80%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	.mapa-contato{
		iframe{
			border-bottom: 3px solid #60015B !important;
	    	height: 300px;
		}
	}
	.principal-detalhes {
        width: 100% !important;
        display: flex;
        margin: 0 auto;
        padding: 20px 0px;
        flex-direction: column;
    }
    .img-detalhes{

        ul{
            padding: 0px;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
            li{
                display: flex;
                justify-content: center;
                margin: 20px 0px 0px 0px;
            }
        }
    }
    .principal-linha{
        width: 100%;
    }

    .img-detalhes-linha{
        ul{
            padding: 0px;
            justify-content: space-around;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            li{
                list-style: none;
                margin: 0px 0px 30px 0px;
                display: flex;
                justify-content: center;
                img{
                    width: 100%;
                }
            }
        }
        p{
            color: #fff;
            padding: 0px;
            margin: 0px;
        }
        figure{
            background: #8e4f31;
        }
        figcaption{
            padding: 10px;
        }
    }
    .lista-opcoes-linha{
        ul{
            display: flex;
            align-items: center;
            padding: 0px;
            flex-direction: column;
            .txt-lista-acabamentos{
                color: #666;
                padding: 0px 21px 0px 0px;
            }
            li{
                list-style: none;
                color: #75ab7e;
                padding: 0px 21px 0px 0px;
                padding: 5px 10px !important;
            }
        }
    }
	.principal-sobre {
	    max-height: 100% !important;
	    flex-direction: column;
	}
    .slide-sobre, .txt-sobre {
        width: 100% !important;
    }
    .txt-sobre{
        article{
            ul{
                margin: 40px 0px 20px 0px !important;
            }
        }
    }
    .logo{
		padding: 0px 0px 0px 10px;
	}
	.header{
		>div{
			width: 100%;
		}
	}
	.menu{
		display: none !important;
	}	
	.idioma{
		display: none;
	}
	.icon-menu-mobile{
		display: flex;
	    justify-content: flex-end !important;
	    align-items: center;
	    padding: 0px 0px 0px 0px;
	}
	.principal-home{
	    width: 100% !important;
	    h2{
	    	font-size: 32pt !important;
	    }
	}
	.conteudo-home{
	    justify-content: center !important;
	    ul{
	    	margin: 0px 40px 30px 40px !important; 
	    	li{
	    		width: 100% !important;
	    	}
	    }
	}
	.info-newsletter{
		flex-direction: column !important;
	}
	.content-footer{
		width: 100% !important;
		flex-direction: column !important; 
	}
	.content-footer{
		text-align: center;
	}
	.acesso-restrito{
		justify-content: center;
    	align-items: center;
	}
	.footer{
		h3{
			margin: 30px 0px 10px 0px !important;
		}
	}
	.social{
		p{
			justify-content: center;
		}
	}
	.info-newsletter{

		p{
			margin: 0px 20px 10px 0px;
		}
		input{
			margin: 0px 0px 15px 5px !important;
		}
	}
}
@media (max-width: 426px){
	.tags-linha ul li {
	    list-style: none;
	    padding: 5px 10px;
	    background: #8e4f31;
	    color: #fff;
	    border-radius: 5px;
	    margin: 0px 10px 0px 0px;
	    display: flex;
	    align-items: center;
	}
	.contato{
    	width: 70%;
	}
	.banner-detalhes{
		>div{
			h2{
				color: #fff;
				font-weight: 200;
				margin: 20px 0px 10px 20px;
				font-size: 18pt;
			}
			>div{
				display: flex;
				justify-content: space-between;
				padding: 0px 20px;
			}
		}
	}
	.txt-detalhes{
		p {
    		font-size: 12pt;
    	}
	}

}