figure:after{
	display: block;
	height: 0;
}
a{
	text-decoration: none;
}
::-webkit-input-placeholder { 
    color: #60015B;
    opacity: 0.7;
}
:-moz-placeholder { 
   color: #60015B;
   opacity: 0.7;
}
::-moz-placeholder { 
   color:    #60015B;
   opacity: 0.7;
}
:-ms-input-placeholder { 
   color:    #60015B;
   opacity: 0.7;
}