.vitrine-acabamentos {
  position: absolute;
  width: 100%;
  height: 300px;
  background: rgba(117, 171, 126, 0.54);
  border-bottom: 4px solid #75ab7e; }

.banner-acabamentos {
  width: 100%;
  height: 120px;
  background-position: center;
  display: flex;
  justify-content: center;
  bottom: 0px;
  position: absolute;
  padding: 0px 0px 15px 0px; }
  .banner-acabamentos > div {
    width: 1140px;
    padding: 0px 20px; }
    .banner-acabamentos > div h2 {
      color: #fff;
      font-weight: 200;
      margin: 35px 0px 10px 0px; }
      .banner-acabamentos > div h2 span {
        font-weight: 400; }
    .banner-acabamentos > div p {
      font-size: 16pt;
      font-weight: 200;
      color: #fff;
      margin: 0px; }
      .banner-acabamentos > div p a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #fff; }
    .banner-acabamentos > div > div {
      display: flex;
      justify-content: space-between; }

.lista-opcoes-acabamentos ul {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 30px 0px 20px 0px; }
  .lista-opcoes-acabamentos ul .txt-lista-acabamentos {
    color: #666;
    padding: 0px 21px 0px 0px !important; }
  .lista-opcoes-acabamentos ul li {
    list-style: none;
    color: #75ab7e;
    padding: 0px 21px 0px 0px;
    padding: 5px 10px !important; }
    .lista-opcoes-acabamentos ul li a {
      color: #75ab7e; }

.acabamentos-selecionado {
  color: #fff !important;
  background: #75ab7e;
  padding: 5px 10px;
  border-radius: 5px; }
  .acabamentos-selecionado a {
    color: #fff !important; }

.tipos-acabamentos ul {
  display: flex;
  flex-wrap: wrap; }
  .tipos-acabamentos ul li {
    width: 300px;
    list-style: none;
    background: #ccc;
    margin: 0px 0px 0px 30px; }

.conteudo-acabamentos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 0px 0px 0px; }
  .conteudo-acabamentos article {
    margin: 0px 0px 30px 0px; }
    .conteudo-acabamentos article .img-conteudo-home {
      overflow: hidden; }
      .conteudo-acabamentos article .img-conteudo-home img {
        height: 250px; }
      .conteudo-acabamentos article .img-conteudo-home .vitrine-maestra-conteudo {
        position: absolute;
        width: 380px;
        height: 380px;
        background: rgba(119, 75, 40, 0.8); }
      .conteudo-acabamentos article .img-conteudo-home .vitrine-office-conteudo {
        position: absolute;
        width: 380px;
        height: 380px;
        background: rgba(24, 58, 104, 0.8); }
      .conteudo-acabamentos article .img-conteudo-home .vitrine-certificada-conteudo {
        position: absolute;
        width: 380px;
        height: 380px;
        background: rgba(117, 171, 126, 0.8); }
      .conteudo-acabamentos article .img-conteudo-home .vitrine-partiz-conteudo {
        position: absolute;
        width: 380px;
        height: 380px;
        background: rgba(135, 135, 135, 0.8); }
      .conteudo-acabamentos article .img-conteudo-home .vitrine-didacta-conteudo {
        position: absolute;
        width: 380px;
        height: 380px;
        background: rgba(251, 189, 81, 0.8); }
      .conteudo-acabamentos article .img-conteudo-home .vitrine-commerce-conteudo {
        position: absolute;
        width: 380px;
        height: 380px;
        background: rgba(205, 99, 81, 0.8); }
      .conteudo-acabamentos article .img-conteudo-home .info-conteudo-home {
        margin: -5px 0px 0px 0px; }
        .conteudo-acabamentos article .img-conteudo-home .info-conteudo-home p {
          padding: 10px 15px;
          color: #fff;
          font-size: 12pt;
          text-align: center;
          margin: 0px;
          background: #75ab7e; }
        .conteudo-acabamentos article .img-conteudo-home .info-conteudo-home .m-maestra {
          background: #774b28; }
        .conteudo-acabamentos article .img-conteudo-home .info-conteudo-home .m-office {
          background: #183a68; }
        .conteudo-acabamentos article .img-conteudo-home .info-conteudo-home .m-certificata {
          background: #75ab7e; }
        .conteudo-acabamentos article .img-conteudo-home .info-conteudo-home .m-partiz {
          background: #878787; }
        .conteudo-acabamentos article .img-conteudo-home .info-conteudo-home .m-didacta {
          background: #fbbd51; }
        .conteudo-acabamentos article .img-conteudo-home .info-conteudo-home .m-commerce {
          background: #cd6351; }

.pag-acabamentos ul {
  display: flex;
  justify-content: center; }
  .pag-acabamentos ul li {
    list-style: none;
    padding: 5px;
    background: #fff;
    color: #75ab7e;
    margin: 5px; }
    .pag-acabamentos ul li a {
      color: #75ab7e; }

.pag-selecionado {
  list-style: none;
  padding: 10px;
  background: #75ab7e !important;
  color: #fff !important;
  margin: 5px;
  border-radius: 5px; }
  .pag-selecionado a {
    color: #fff !important; }

.principal-acabamentos {
  display: flex;
  justify-content: center;
  background-color: #efefef;
  margin: 0px 0px 30px 0px;
  border-bottom: 3px solid #651264;
  padding: 0px 0px 20px 0px; }
  .principal-acabamentos > div {
    width: 1140px; }

.conteudo-acabamentos ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px; }
  .conteudo-acabamentos ul li {
    list-style: none;
    width: 33.33%;
    border: 20px solid transparent;
    box-sizing: border-box;
    position: relative; }
    .conteudo-acabamentos ul li figure {
      border: 1px solid #75ab7e; }
      .conteudo-acabamentos ul li figure img {
        max-width: 100%;
        position: relative;
        display: block;
        width: 100%; }
      .conteudo-acabamentos ul li figure p {
        position: relative;
        margin: 0px;
        background: #75ab7e;
        color: #fff;
        padding: 15px; }
    .conteudo-acabamentos ul li a span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
      opacity: 0; }
