.banner-sobre {
  width: 100%;
  height: 120px;
  background: url(../img/bg_motiva.png);
  background-position: center;
  border-bottom: 4px solid #60015B;
  background-color: #702470;
  display: flex;
  justify-content: center; }
  .banner-sobre > div {
    width: 1140px;
    padding: 0px 20px; }
    .banner-sobre > div h2 {
      color: #fff;
      font-weight: 200;
      margin: 35px 0px 10px 0px; }
      .banner-sobre > div h2 span {
        font-weight: 400; }
    .banner-sobre > div p {
      font-size: 16pt;
      font-weight: 200;
      color: #fff;
      margin: 0px; }
      .banner-sobre > div p a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #fff; }
    .banner-sobre > div > div {
      display: flex;
      justify-content: space-between; }

.txt-sobre {
  background-color: #efefef; }

.principal-sobre {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 50px 0px;
  max-height: 460px; }

.slide-sobre, .txt-sobre {
  width: 50%; }

.slide-sobre img {
  height: 100%;
  border-bottom: 3px solid #60015B;
  width: 100%;
  box-sizing: border-box; }

.txt-sobre article {
  width: 60%;
  margin: 40px 0px 0px 50px; }
  .txt-sobre article h2 {
    color: #60015B;
    font-weight: 400;
    font-size: 16pt;
    margin: 0px 0px 30px 0px; }
  .txt-sobre article p {
    color: #666;
    font-weight: 200;
    line-height: 23px; }
  .txt-sobre article ul {
    padding: 0px;
    margin: 44px 0px 0px 0px; }
    .txt-sobre article ul li {
      color: #60015B;
      font-weight: 400;
      list-style: none;
      font-size: 14pt;
      margin: 10px 0px 0px 0px; }
      .txt-sobre article ul li a {
        color: #60015B;
        font-weight: 300; }
