figure {
  margin: 0px; }

body {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif; }

.conteudo {
  margin: 78px 0px 0px 0px; }

.logo {
  background-image: url(../img/logo.png);
  color: transparent;
  background-repeat: no-repeat;
  width: 181px;
  height: 54px; }

.header {
  padding: 10px 20px 10px 20px;
  background: #fff;
  position: fixed;
  z-index: 9999;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #bdbdbd; }

.header > div {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1140px; }

.menu {
  display: flex;
  justify-content: center;
  align-items: center; }
  .menu ul {
    display: flex; }
    .menu ul li {
      list-style: none; }
      .menu ul li a {
        text-decoration: none;
        padding: 5px 5px;
        color: #666;
        transition: 0.3s;
        margin: 0px 10px; }
      .menu ul li a:hover {
        color: #60015B;
        border-bottom: 1px solid #60015B; }

.menu-mobile {
  display: none; }

.icon-menu-mobile {
  display: none; }

.link-select {
  color: #60015B !important;
  border-bottom: 1px solid #60015B; }

.buscar-menu {
  color: #60015B !important; }

.buscar-menu:hover {
  border-bottom: 1px solid #60015B; }

.idioma {
  display: flex;
  justify-content: center;
  align-items: center; }
  .idioma ul {
    display: flex; }
    .idioma ul li {
      list-style: none;
      margin: 0px 0px 0px 3px; }
      .idioma ul li a {
        color: #60015B;
        padding: 5px 10px;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        display: flex; }
      .idioma ul li a:hover {
        background: #e3e3e3;
        color: #666 !important;
        border-radius: 5px; }

.idioma-selecionado {
  background: #e3e3e3;
  color: #666 !important;
  border-radius: 5px; }

.banner {
  width: 100%;
  height: 600px;
  background: url(../img/banner.jpg);
  background-position: center;
  border-bottom: 4px solid #60015B; }
