.banner-linha {
  width: 100%;
  height: 300px;
  background: url(../img/banner.jpg);
  background-position: center;
  border-bottom: 4px solid #60015B; }

.vitrine-linha {
  position: absolute;
  width: 100%;
  height: 300px;
  background: rgba(117, 171, 126, 0.54);
  border-bottom: 4px solid #75ab7e; }

.banner-produtos {
  width: 100%;
  height: 300px;
  background: url(../img/banner.jpg);
  background-position: center;
  border-bottom: 4px solid #75ab7e; }
